<div
  x-data="{
  items: [
	{
		label: 'Academics',
				subItems: [
			{
				label: 'Courses',
				href: '/app/course'
			},
			{
				label: 'Modules',
				href: '/app/module'
			},
			{
				label: 'Academic Year',
				href: '/app/academic-year'
			},
			{
				label: 'Academic Term',
				href: '/app/academic-term'
			}
		]
	},
	{
		label: 'Students & Admission',
				subItems: [
			{
				label: 'Student Admission',
				href: '/app/student'
			},
			{
				label: 'Class Enrollment',
				href: '/app/class'
			}
		]
	},
	{
		label: 'Instructors',
				subItems: [
			{
				label: 'Instructor List',
				href: '/app/instructor'
			}
		]
	},
	{
		label: 'Fees',
				subItems: [
			{
				label: 'Fees',
				href: '/app/fees'
			},
			{
				label: 'Payments',
				href: '/app/payments'
			}
		]
	},
	{
		label: 'Exams & Assessments',
				subItems: [
			{
				label: 'Exams',
				href: '/app/exam-schedule'
			},
			{
				label: 'Exam Results',
				href: '/app/exam-result'
			},
			{
				label: 'Student Reports',
				href: '/app/student/view/report'
			},
			{
				label: 'Assesments',
				href: '/app/assessment'
			}
		]
	},
	{
		label: 'Attendance',
				subItems: [
			{
				label: 'Student Attendance',
				href: '/admin/attendance'
			},
		]
	},

	{
		label: 'Settings',
				subItems: [
			{
				label: 'School Settings',
				href: '/app/school-settings'
			}
		]
	},
	{
		label: 'Library',
				subItems: [
			
			{
				label: 'E Library',
				href: '/app/e-books'
			}
		]
	}
],

opened: '',
open: function (item) {
  this.opened = item.label;
  console.log(item);
},
activeLink: window.location.pathname,
init: function() {

// Listen for your custom events
window.addEventListener('locationchange', function() {
		console.log('route changed');
		$('.sub-item a').removeClass('bg-gray-100');
		this.activeLink = window.location.pathname;
		for (let a of document.querySelectorAll('.sub-item a')) {
			if (a.getAttribute('href') == this.activeLink) {
				a.classList.add('bg-gray-100');
			}
		}
});
}
}
"
  class="h-full overflow-y-auto"
>
  <ul class="space-y-2 font-medium">
    <template x-for="item in items">
      <li>
        <button
          x-on:click="open(item)"
          type="button"
          class="flex items-center w-full p-2 text-sm text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 21"
          >
            <path
              d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"
            />
          </svg>
          <span
            x-text="item.label"
            class="flex-1 ms-3 text-left truncate whitespace-nowrap"
          />
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <template x-if="item.subItems?.length">
          <ul
            x-show="item.label==opened"
            x-transition
            class="py-2 space-y-2 pl-4"
          >
            <template x-for="subItem in item.subItems">
              <li class="py-1 sub-item">
                <a
                  x-bind:href="subItem.href"
                  x-text="subItem.label"
                  :class="{ 'bg-gray-100': activeLink==subItem.href }"
                  class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100"
                ></a>
              </li>
            </template>
          </ul>
        </template>
      </li>
    </template>
  </ul>
</div>
