<div
  x-data="{
  items: [
	{
		label: 'Academics',
				subItems: [
			{
				label: 'Courses',
				href: '/app/course'
			},
			{
				label: 'Modules',
				href: '/app/module'
			},
			{
				label: 'Academic Year',
				href: '/app/academic-year'
			},
			{
				label: 'Academic Term',
				href: '/app/academic-term'
			}
		]
	},
	{
		label: 'Students & Admission',
				subItems: [
			{
				label: 'Student Admission',
				href: '/app/student'
			},
			{
				label: 'Class Enrollment',
				href: '/app/class'
			}
		]
	},
	{
		label: 'Instructors',
				subItems: [
			{
				label: 'Instructor List',
				href: '/app/instructor'
			}
		]
	},
	{
		label: 'Fees',
				subItems: [
			{
				label: 'Fees',
				href: '/app/fees'
			},
			{
				label: 'Payments',
				href: '/app/payments'
			}
		]
	},
	{
		label: 'Exams & Assessments',
				subItems: [
			{
				label: 'Exams',
				href: '/app/exam-schedule'
			},
			{
				label: 'Exam Results',
				href: '/app/exam-result'
			},
			{
				label: 'Student Reports',
				href: '/app/student/view/report'
			},
			{
				label: 'Assesments',
				href: '/app/assessment'
			}
		]
	},
	{
		label: 'Attendance',
				subItems: [
			{
				label: 'Student Attendance',
				href: '/admin/attendance'
			},
		]
	},

	{
		label: 'Settings',
				subItems: [
			{
				label: 'School Settings',
				href: '/app/school-settings'
			}
		]
	},
	{
		label: 'Library',
				subItems: [
			
			{
				label: 'E Library',
				href: '/app/e-books'
			}
		]
	}
],

opened: '',
open: function (item) {
	if (this.opened == item.label) {
	this.opened = '';
	return;
}
  this.opened = item.label;
  console.log(item);
},
activeLink: window.location.pathname,
init: function() {
// set opened to the current route parent label
for (let item of this.items) {
	for (let subItem of item.subItems) {
		if (subItem.href == this.activeLink) {
			this.opened = item.label;
		}
	}
}

// Listen for your custom events
window.addEventListener('locationchange', function() {
		console.log('route changed');
		$('.sub-item a').removeClass('bg-gray-100');
		this.activeLink = window.location.pathname;
		for (let a of document.querySelectorAll('.sub-item a')) {
			if (a.getAttribute('href') == this.activeLink) {
				a.classList.add('bg-gray-100');
			}
		}
});
}
}
"
  class="h-full overflow-y-auto py-2"
>
  <ul class="list-unstyled ps-0">
    <template x-for="item in items">
      <li>
        <button
          type="button"
          x-on:click="open(item)"
          style="max-width: 100%"
          class="btn btn-toggle align-items-center rounded"
          data-bs-toggle="collapse"
          :data-bs-target="'#sidebar-'+item.label"
          :aria-expanded="String(item.label==opened)"
        >
          <span
            x-text="item.label"
            class="flex-1 ms-3 text-left truncate whitespace-nowrap w-full"
          />
        </button>
        <template x-if="item.subItems?.length">
          <div
            x-show="item.label==opened"
            x-transition
            :id="'sidebar-'+item.label"
            class="collapse show"
          >
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <template x-for="subItem in item.subItems">
                <li class="py-1 sub-item">
                  <a
                    x-bind:href="subItem.href"
                    x-text="subItem.label"
                    :title="subItem.label"
                    :class="{ 'bg-gray-100': activeLink==subItem.href }"
                    class="link-dark rounded truncate"
                  ></a>
                </li>
              </template>
            </ul>
          </div>
        </template>
      </li>
    </template>
  </ul>
</div>
